@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular.otf") format("opentype"),
  		url("../fonts/MontserratRegular.ttf") format("truetype");
  	font-weight: normal;
}
